html {
    background: url(../img/back.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    border-collapse: collapse;
    margin-left: 20px;
    margin-top: 15px;
}

.close {
    position: absolute;
    margin-left: 80px;
    top: 0px;
    font-size: 34px;
    color: #1b9e48;
    cursor: pointer;
}

.otd {
    margin-top: 15px;
    width: 200px;
    padding: 10px;
    border: none;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
    border-bottom: 2px solid #e85f5f;
    color: #454545;
}

th {
    position: relative;
    font-weight: normal;
    color: #1b9e48;
    border-bottom: 2px solid #1b9e48;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 35px;
    padding-left: 40px;
    text-align: left;
    background: none;
}

td {
    border-bottom: 1px solid #ccc;
    color: #1b9e48;
    transition: .3s linear;
    padding-left: 45px;
}

tr.active {
    background-color: #79fca7;
}

#tableo {
    position: absolute;
    margin-top: 150px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    border-collapse: collapse;
    margin-left: 170px;
}

.text {
    margin: auto;
    text-align: center;
    font-size: 32px;
    line-height: 1.5;
    text-shadow: 0 0 15px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5);
}

.right-click-menu {
    margin-left: -5px;
    padding: 0;
    position: fixed;
    list-style: none;
    background: #fff;
    border: none;
    border-radius: 2px;
    display: none;
}

.right-click-menu.active {
    display: block;
}

.right-click-menu li {
    width: 170px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
}

.right-click-menu li:hover {
    background: #79fca7;
}

.modal,
.modal2,
.modal3,
.modal4,
.raspisanie_loko {
    display: none;
}

.modal-zad,
.modal-cancel {
    position: absolute;
    background-color: white;
    padding-bottom: 70px;
    border: 5px solid #ffffff;
    text-align: center;
    color: #454545;
    max-width: 200px;
    margin-left: 600px;
    z-index: 10;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.label-db {
    position: absolute;
    margin-bottom: .35714286rem;
    font-weight: bold;
}

.modal-content-add-text {
    margin-left: 600px;
    background-color: white;
    color: #454545;
    border: 5px solid #ffffff;
    max-width: 200px;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.add-text {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #454545;
}

.editbutt,
.cancelbutt,
.bbutt {
    position: absolute;
    height: 2.12857143rem;
    width: 150px;
    background-color: #e85f5f;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.14285714rem;
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: -170px;
}

.editbutt,
.cancelbutt,
.bbutt:hover {
    background-color: #fff;
    color: #e85f5f;
    border: .1142857rem solid #e85f5f;
}

.cancelbutt {
    margin-left: -75px;
    margin-top: 25px;
}

.bbutt {
    margin-left: -170px;
    margin-top: 80px;
}

.back {
    position: relative;
    height: 2.12857143rem;
    width: 100px;
    background-color: #e85f5f;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.14285714rem;
    margin-top: 15px;
}

.connect {
    position: absolute;
    height: 2.12857143rem;
    width: 100px;
    background-color: #e85f5f;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.14285714rem;
    margin-top: -34px;
}

.back:hover {
    background-color: #fff;
    color: #e85f5f;
    border: .1142857rem solid #e85f5f;
}

.connect:hover {
    background-color: #fff;
    color: #e85f5f;
    border: .1142857rem solid #e85f5f;
}

.connect {
    margin-left: 120px;
    width: 130px;
}

.kol-sdan {
    position: absolute;
    margin-top: 60px;
    margin-left: -210px;
    width: 200px;
}

.vrem-zad {
    position: absolute;
    margin-top: 60px;
    margin-left: -213px;
    width: 150px;
}

.input-db {
    height: 2.42857143rem;
    width: 180px;
    line-height: 1.71428571rem;
    color: #454545;
    padding-left: 0.42857143rem;
    font-size: 1.14285714rem;
    padding-right: .42857143rem;
    outline: 0;
    margin-top: 15px;
    border-width: 0 0 2px;
    border-color: #e85f5f;
    background-color: #ffffff;
}

.right-click-area {
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    color: #1b9e48;
    margin: auto;
    display: flex;
    position: relative;
}